[Desktop Entry]
Encoding=UTF-8
Name=IceWMcc
Comment=Simple control centre for IceWM
Exec=/usr/local/bin/icewmcc/icewmcc.sh
Icon=preferences-desktop
Terminal=false
Type=Application
Categories=System;
